[submodule "stemp"]
	path = stemp
	url = https://github.com/rl-institut/WAM_APP_stemp_mv.git
[submodule "LISMap"]
	path = LISMap
	url = ssh://git_user@wam.rl-institut.de/git/lis.git
[submodule "app_eGoDP"]
	path = app_eGoDP
	url = ssh://git_user@wam.rl-institut.de/git/app_eGoDP.git
    
[submodule "app_eGoVIS"]
	path = app_eGoVIS
	url = ssh://git_user@wam.rl-institut.de/git/app_eGoVIS.git
