[submodule "stemp"]
	path = stemp
	url = https://github.com/rl-institut/WAM_APP_stemp_mv.git
	branch = origin/master
[submodule "LISMap"]
	path = LISMap
	url = ssh://git_user@wam.rl-institut.de/git/lis.git
[submodule "app_eGoVIS"]
	path = app_eGoVIS
	url = ssh://git_user@wam.rl-institut.de/git/app_eGoVIS.git
[submodule "app_mapping"]
	path = app_mapping
	url = ssh://root@wam.rl-institut.de/git/app_mapping.git
