django==2.2.18
jmespath
gunicorn
pandas
whitenoise
celery
configobj
exchangelib
django-markdownx
django-crispy-forms
psycopg2-binary
oedialect
git+https://github.com/henhuy/python-highcharts.git#egg=python-highcharts