django
jmespath
gunicorn
pandas
whitenoise
celery
configobj
exchangelib
django-markdownx
django-crispy-forms
psycopg2-binary
git+https://github.com/openego/oedialect#egg=oedialect
git+https://github.com/henhuy/python-highcharts.git#egg=python-highcharts