{% extends base_template %}

{% block content %}

{% regroup object_list by category as categories %}

<div class="grid-container u-padding-top--xl">
  <div class="grid-x">
    <div class="cell">
      <h1 class="u-text--center">Quellen</h1>
    </div>
    <div class="cell">
      {% for category in categories %}
        <div id="category-{{category.grouper.id}}">
          <h2>
            {{category.grouper.name}}
            <span class="has-tip--no-border">
              <i data-open="cat_data_{{category.grouper.id}}" class ="icon ion-information-circled icon--small info-box" title="Hier klicken für mehr Informationen zur Kategorie"></i>
            </span>
          </h2>
        <div class="reveal" id="cat_data_{{category.grouper.id}}" data-reveal>
          {{category.grouper.description}}
        </div>
          {% block items %}
            <ul class="table__list">
              {% for item in category.list %}
              <li id="id-{{item.id}}">
                {{item}}
              </li>
              {% endfor %}
            </ul>
          {% endblock %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    {% if highlight %}
      $('#id-{{highlight}}').effect("highlight", {}, 5000);
    {% endif %}

    {% if category %}
      $('#category-{{category}}').effect("highlight", {}, 5000);
    {% endif %}
  });
</script>
{% endblock %}