{% extends 'meta/app_list.html' %}

{% block items %}
  <ul class="list">
    {% for item in category.list %}
      <li id="id-{{item.id}}">
        {% if 'url' in item.infos %}
          <a href="{{item.infos.url}}" target="_blank">{{item.infos.title}}</a>
        {% else %}
          {{item.infos.title}}
        {% endif %}
        {% if item.infos.description != '' %}
        , {{item.infos.description}}
        {% endif %}
        <span class="has-tip--no-border">
          <i data-open="meta_data_{{item.id}}" class ="icon ion-information-circled icon--small info-box" title="Hier klicken für mehr Informationen zur Quelle"></i>
        </span>
        <div class="reveal" id="meta_data_{{item.id}}" data-reveal>
          {{item.json}}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}