
{% load staticfiles %}

<html lang="de">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'foundation-icons.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,900" rel="stylesheet">

    <title>{% block title %}StEmp-Tool{% endblock %}</title>

    {% block header %}
    {% endblock %}
  </head>
  <body>
    <div class="menu">
      {% block submenu %}
      {% endblock %}
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{% static 'assets/js/app.js' %}"></script>
  </body>
</html>