
{% load static %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAM - Web Applications & Maps</title>
    <link rel="stylesheet" type="text/css" href="{% static '/img/ionicons-2.0.1/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'foundation/css/app.css' %}">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'foundation/js/app.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>