{% extends 'base.html' %}

{% block content %}
<div class="grid-x grid-padding-x align-center">
  <div class="cell medium-8 large-6">
    <h1>Kontakt</h1>
    <p style="font-weight: 700">Christian Hofmann (Projektleiter)<br>
      <a href="mailto:christian.hofmann@rl-institut.de">E-Mail</a><br>
      <span style="font-weight: 400">+49 (0)30 1208 434 76</span>
    </p>
    <p style="font-weight: 700">Ludwig Hülk (Wissenschaftlicher Mitarbeiter)<br>
      <a href="mailto:ludwig.huelk@rl-institut.de">E-Mail</a><br>
      <span style="font-weight: 400">+49 (0)30 1208 434 74</span>
    </p>
    <p style="font-weight: 700">Hendrik Huyskens (Wissenschaftlicher Mitarbeiter)<br>
      <a href="mailto:hendrik.huyskens@rl-institut.de">E-Mail</a><br>
      <span style="font-weight: 400">+49 (0)30 1208 434 28</span>
    </p>
    <p>
      Reiner Lemoine Institut gGmbH<br>
      Rudower Chaussee 12<br>
      Aufgang D<br>
      12489 Berlin
    </p>
    <p>
      Telefon: +49 (0)30 1208 434 0<br>
      Telefax: +49 (0)30 1208 434 99
    </p>
    <a href="/index.html" class="u-padding-top--l u-padding-bt--l">Zurück</a>
  </div>
</div>
{% endblock %}