{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="u-vh--100">
  <main>
    <section class="grid-x align-center l-bg-color--light hp-features">
      <div class="cell medium-8 large-6">
        <h1><i class='icon ion-chatbubbles icon--large'></i> Ihr Feedback</h1>
        <p><strong>App: <a href="../" class="u-padding-top--l u-padding-bt--l">{{ app_name }}</a></strong></p>
        {% if intro_text %}
          <p>{{ intro_text }}</p>
        {% else %}
          <p>Hier können Sie uns eine Rückmeldung zur App geben, wir freuen uns über Ihre Nachricht!</p>
        {% endif %}

        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button class="btn btn-cta" type="submit" style="float: right;">Abschicken</button>
        </form>
      </div>
    </section>
  </main>

  <footer class="footer-hp l-bg-color--w">
    <div class="grid-x">

      <div class="cell footer-hp__logo">
        <ul>
          <li>
            <a href="{% url 'index' %}" rel=”noopener” title="WAM-Startseite">
              <img class="footer-hp__logo-wam" src="{% static '/img/logos/WAM_logo.png' %}" alt="Logo WAM">
            </a>
          </li>
          <li>
            <a href="https://reiner-lemoine-institut.de/" target="_blank" rel=”noopener” title="Reiner Lemoine Institut">
              <img class="footer-hp__logo-rli" src="{% static 'img/rli_logo.png' %}" alt="Logo Reiner Lemoine Institut">
            </a>
          </li>
        </ul>
      </div>

      <div class="cell medium-10 medium-offset-1">
        <ul class="u-text--center" id="footer-links">
          <li><a class="anchor-text--dark" href="{% url 'contact' %}">Kontakt</a></li>
          <li><a class="anchor-text--dark" href="{% url 'impressum' %}">Impressum</a></li>
          <li><a class="anchor-text--dark" href="{% url 'privacy' %}">Datenschutz</a></li>
          <li class="hide-for-small-only">
            <p class="u-no-margin">&copy; Reiner Lemoine Institut gGmbH</p>
          </li>
        </ul>
      </div>

    </div>
  </footer>

</div>

{% endblock %}