
{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="u-vh--100">

  <main>

    <section class="grid-x l-bg-color hp-hero">
      <div class="cell u-text--center">
        <img src="{% static '/img/logos/WAM_logo_w.png' %}" alt="Logo WAM" class="hp_wam_img">
      </div>
    </section>

    <section class="grid-x align-center l-bg-color--light hp-features">
      <div class="cell large-10">
        <div class="grid-x align-center">

          {% for category, apps in app_infos.items %}
            <div class="cell">
              <h2 class="hp-features__header">{{category.label|safe}}</h2>
            </div>
              {% for app in apps %}
                <div class="cell medium-6 hp-features__card">
                  <h3 class="hp-features__subheader">{{app.name}}</h3>
                  <div class="hp-to-tool">
                    <img src="{% static app.icon %}" alt="{{app.name}}" class="hp_wam_img_small">
                  </div>
                  <div class="u-text--center u-margin--m">
                    {% if app.url_arg %}
                      {% url app.url path=app.url_arg as url %}
                    {% else %}
                      {% url app.url as url %}
                    {% endif %}
                    <a href="{{url}}" class="btn btn-cta" target="_blank" rel=”noopener noreferrer” title="{{app.name}}">
                      {{app.category.goto}}
                      <i class ="icon ion-chevron-right icon--small"></i>
                    </a>
                  </div>
                </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </section>

  </main>


  <footer class="footer-hp l-bg-color--w">
    <div class="grid-x">

      <div class="cell footer-hp__logo">
        <ul>
          <li>
            <img class="footer-hp__logo-wam" src="{% static '/img/logos/WAM_logo.png' %}" alt="Logo WAM">
          </li>
          <li>
            <a href="https://reiner-lemoine-institut.de/" target="_blank" rel=”noopener noreferrer” title="Reiner Lemoine Institut">
              <img class="footer-hp__logo-rli" src="{% static 'img/rli_logo.png' %}" alt="Logo Reiner Lemoine Institut">
            </a>
          </li>
        </ul>
      </div>

      <div class="cell medium-10 medium-offset-1">
        <ul class="u-text--center" id="footer-links">
          <li><a class="anchor-text--dark" href="{% url 'contact' %}">Kontakt</a></li>
          <li><a class="anchor-text--dark" href="{% url 'impressum' %}">Impressum</a></li>
          <li><a class="anchor-text--dark" href="{% url 'privacy' %}">Datenschutz</a></li>
          <li class="hide-for-small-only">
            <p class="u-no-margin">&copy; Reiner Lemoine Institut gGmbH</p>
          </li>
        </ul>
      </div>

    </div>
  </footer>

</div>
{% endblock %}